* {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.step-sequencer-container {
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

.step-sequencer {
  display: flex;
  flex: 1;
  overflow-x: auto;
}

.step-sequencer-column {
  display: flex;
  flex-direction: column;
}

.step-sequencer-header-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 20px;
}

.step-sequencer-column:nth-child(4n):not(:last-child) {
  border-right: 1px solid #666;
}

.step-sequencer-header-column, .step-sequencer-column:nth-child(16n):not(:last-child) {
  border-right: 2px solid #333;
}

.step-sequencer-cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-left: none;
  border-top: none;
}

.step-sequencer-cell:nth-child(7n):not(:last-child) {
  border-bottom: 1px solid #333;
}

.suggested-note {
  background: #ffe0b2;
}

.root-note {
  background: #ef9a9a;
}

.selected-note {
  background: #03a9f4;
}



